@import "tailwindcss";

@theme {

    /* Colors as Hex so Phavuer can use them */
    --color-olive-50:  #fbfbf9;
    --color-olive-100: #f4f4f0;
    --color-olive-200: #e8e8e3;
    --color-olive-300: #d8d8d0;
    --color-olive-400: #abab9c;
    --color-olive-500: #7c7c67;
    --color-olive-600: #5b5b4b;
    --color-olive-700: #474739;
    --color-olive-800: #2b2b22;
    --color-olive-900: #1d1d16;
    --color-olive-950: #0c0c09;
}